<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hmld.system.user.mapper.SysUserPasswordHistoryMapper">
	<!-- default -->
	<resultMap type="SysUserPasswordHistory" id="sysUserPasswordHistoryResult">
	<!-- 用户变动历史主键 -->
	<id property="userHistoryPk" column="user_history_pk" />
	<!-- 用户主键 -->
	<result property="userPk" column="user_pk" />
	<!-- 用户名 -->
	<result property="userName" column="user_name" />
	<!-- 昵称 -->
	<result property="nickName" column="nick_name" />
	<!-- 密码 -->
	<result property="userPassword" column="user_password" />
	<!-- 盐 -->
	<result property="salt" column="salt" />
	<!-- 状态(0代表正常，1代表停用) -->
	<result property="status" column="status" />
	<!-- 密码更新时间 -->
	<result property="updateTime" column="update_time" />
	<!-- 密码更新人 -->
	<result property="updateBy" column="update_by" />
	<!-- 创建时间 -->
	<result property="createTime" column="create_time" />
	<!-- 创建人 -->
	<result property="createBy" column="create_by" />
	</resultMap>
	
	<sql id="selectSysUserPasswordHistoryVo">
		select  user_history_pk , user_pk , user_name , nick_name , user_password , salt , status , update_time , update_by , create_time , create_by  from sys_user_password_history
	</sql>
	<!-- 查询default -->
	<select id="querySysUserPasswordHistoryList" parameterType="SysUserPasswordHistory" resultMap="sysUserPasswordHistoryResult">
		<include refid="selectSysUserPasswordHistoryVo"/>
		<where>
			<if test="userHistoryPk != null and userHistoryPk != ''">
				AND user_history_pk  = #{userHistoryPk}
			</if>
			<if test="userPk != null and userPk != ''">
				AND user_pk  = #{userPk}
			</if>
			<if test="userName != null and userName != ''">
				AND user_name like concat('%', #{userName}, '%')
			</if>
			<if test="nickName != null and nickName != ''">
				AND nick_name like concat('%', #{nickName}, '%')
			</if>
			<if test="userPassword != null and userPassword != ''">
				AND user_password  = #{userPassword}
			</if>
			<if test="salt != null and salt != ''">
				AND salt  = #{salt}
			</if>
			<if test="status != null and status != ''">
				AND status  = #{status}
			</if>
			<if test="updateTime != null ">
				AND update_time  = #{updateTime}
			</if>
			<if test="updateBy != null and updateBy != ''">
				AND update_by  = #{updateBy}
			</if>
			<if test="createTime != null ">
				AND create_time  = #{createTime}
			</if>
			<if test="createBy != null and createBy != ''">
				AND create_by  = #{createBy}
			</if>
		</where>
    </select>
	<!-- 通过主键查询default -->
	<select id="querySysUserPasswordHistoryByPK" parameterType="String" resultMap="sysUserPasswordHistoryResult">
		<include refid="selectSysUserPasswordHistoryVo"/>
		where user_history_pk = #{userHistoryPk}
    </select>
	<!-- 通过用户主键查询 用户密码历史 -->
	<select id="querySysUserPasswordHistoryByUserPK" 
	parameterType="String" resultMap="sysUserPasswordHistoryResult">
		<include refid="selectSysUserPasswordHistoryVo" />
		where status = '0' and user_pk = #{userPk}
	</select>
	<!-- 禁用旧密码 -->
	<update id="desableOldPassWordByUserPk" parameterType="SysUserPasswordHistory" >
		update sys_user_password_history  set status = '1' , update_time = #{updateTime} , update_by = #{updateBy} 
		where user_history_pk in (
			select user_history_pk from sys_user_password_history where user_pk = #{userPk} and status = '0'
		)
	</update>
	<!-- 保存default -->
	<insert id="insertSysUserPasswordHistory" parameterType="SysUserPasswordHistory">
		insert into sys_user_password_history 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userHistoryPk != null and userHistoryPk != '' ">user_history_pk,</if>
			<if test="userPk != null and userPk != '' ">user_pk,</if>
			<if test="userName != null and userName != '' ">user_name,</if>
			<if test="nickName != null and nickName != '' ">nick_name,</if>
			<if test="userPassword != null and userPassword != '' ">user_password,</if>
			<if test="salt != null and salt != '' ">salt,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userHistoryPk != null and userHistoryPk != '' ">#{userHistoryPk},</if>
			<if test="userPk != null and userPk != '' ">#{userPk},</if>
			<if test="userName != null and userName != '' ">#{userName},</if>
			<if test="nickName != null and nickName != '' ">#{nickName},</if>
			<if test="userPassword != null and userPassword != '' ">#{userPassword},</if>
			<if test="salt != null and salt != '' ">#{salt},</if>
			<if test="status != null and status != '' ">#{status},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="updateBy != null and updateBy != '' ">#{updateBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="createBy != null and createBy != '' ">#{createBy},</if>
		</trim>
	</insert>
	<!-- 修改default -->
	<update id="updateSysUserPasswordHistory" parameterType="SysUserPasswordHistory">
		update sys_user_password_history
		<set>
			<if test="userPk != null and userPk != '' ">user_pk = #{userPk},</if>
			<if test="userName != null and userName != '' ">user_name = #{userName},</if>
			<if test="nickName != null and nickName != '' ">nick_name = #{nickName},</if>
			<if test="userPassword != null and userPassword != '' ">user_password = #{userPassword},</if>
			<if test="salt != null and salt != '' ">salt = #{salt},</if>
			<if test="status != null and status != '' ">status = #{status},</if>
			<if test="updateTime != null  ">update_time = #{updateTime},</if>
			<if test="updateBy != null and updateBy != '' ">update_by = #{updateBy},</if>
			<if test="createTime != null  ">create_time = #{createTime},</if>
			<if test="createBy != null and createBy != '' ">create_by = #{createBy},</if>
		</set>
		where  user_history_pk = #{userHistoryPk} 
	</update>
	<!-- 删除default -->
	<delete id="deleteSysUserPasswordHistoryByPK" parameterType="String" >
		delete from sys_user_password_history where user_history_pk = #{userHistoryPk}
    </delete>
    <!-- 删除default -->
	<delete id="deleteSysUserPasswordHistoryByPKS" parameterType="String" >
		delete from sys_user_password_history where user_history_pk in
		<foreach item="userHistoryPk" collection="array" open="(" separator="," close=")">
			#{userHistoryPk}
		</foreach>
    </delete>
</mapper>